<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.auctionsystem.domin.AuctionUserAddressDao">
    <select id="selectAllByUserId" resultType="AuctionUserAddress">
        select *
        from auction_user_address
        where user_id = #{modelId}
    </select>

    <update id="updateOneByModel">
        update auction_user_address set
        user_address = #{model.userAddress}
        where user_address_id = #{model.userAddressId}
    </update>

    <insert id="addOneByModel" useGeneratedKeys="true">
        insert into auction_user_address (user_id, user_address)
        value (#{model.userId}, #{model.userAddress})
    </insert>

    <delete id="deleteOneById">
        delete from auction_user_address
        where user_address_id = #{modelId}
    </delete>

    <select id="findOneById" resultType="AuctionUserAddress">
        select *
        from auction_user_address
        where user_address_id = #{modelId}
    </select>

</mapper>