<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.auctionsystem.domin.ItemOrderDao">
    <insert id="addNewOrder" useGeneratedKeys="true">
        insert into item_order (user_id, item_id, order_create_time, item_price)
        value (#{userId}, #{itemId}, #{createTime}, #{itemPrice});
    </insert>

    <update id="changeItemStatus">
        update auction_item set
        item_status = 0
        where item_id = #{itemId}
    </update>
</mapper>