#Identity-Information {
    margin-top: 15px;
    padding: 15px;
    /*border-radius: 4px;*/
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
    width: 100%;
}
.form-group {
    margin-bottom: 8px;
}
.form-control {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 500;
}
.form-title::before {
    content: '';
    width: 5px;
    height: 20px;
    background: #2F5F9A;
    margin-right: 8px;
}
.form-title {
    font-size: 16px;
    font-weight:bold;
    color: #333;
    display: flex;
    align-items: center;
    /*margin-bottom: 15px;*/
}


#Escort-Employee {
    padding: 15px;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
#Visitor-Pass {
    padding: 15px;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
#Contact {
    padding: 15px;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}

.btn-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-box button {
    width: 110px;
    height: 30px;
    border-radius: 3px;
    margin-right: 25px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}
.btn-box button:first-child {
    background: #66ccff;
}
.btn-box button:nth-child(2) {
    background: #66ccff;
}
.btn-box button:last-child {
    background: #2e5eaa;
}
.control-label {
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
}