<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Information</title>
    <script src="/dist/jquery.min.js"></script>
    <script src="/js/ManageItemDetail.js"></script>
    <link rel="stylesheet" href="/dist/bootstrap.css">
    <script src="/dist/bootstrap.js"></script>
    <!--[if lt IE10]>
    <script src="/dist/html5shiv.js"></script>
    <script src="/dist/response.min.js"></script>
    <link rel="stylesheet" href="/css/ie-css.css">
    <![endif]-->
    <link rel="stylesheet" href="/dist/bootstrap.css">
    <link rel="stylesheet" href="/css/visitorRegister.css">
    <link rel="stylesheet" href="/css/personalMsg.css">
</head>
<body>
<div class="container-fluid" id="person-msg-box">
    <div class="panel-box">
        <div>
            <p class="form-title">Item Information</p>
        </div>
        <form action="/auctionSystem/addItem" method="post" name="model">
        <div> <table class="table table-responsive table-striped person-table">
            <input type="text" th:value="${shopId}" style="display: none" name="itemShopId"/>
            <tr>
                <td>Item Name:</td>
                <td><input type="text" class="form-control" name="itemName"></td>
                <td></td>
            </tr>
            <tr>
                <td>来源地:</td>
                <td><input type="text" class="form-control" name="itemFrom"></td>
                <td rowspan="3" ><img src="" id="picture" style="width: 144px; width: 144px"></td>
            </tr>
            <tr>
                <td>起拍价:</td>
                <td><input type="number" class="form-control" name="itemStartingPrice"></td>
            </tr>
            <tr>
                <td>每次加价不少于:</td>
                <td><input type="number" class="form-control" name="itemIncreasePrice"></td>
            </tr>
            <tr>
                <td>上传图片:</td>
                <td><input type="file" id="uploadOffice"/></td>
                <td><a class="btn btn-default" id="uploadButton">上传</a></td>
            </tr>
            <tr>
                <td>当前图片:</td>
                <td><input type="text" class="form-control" readonly="readonly" id="pictureText" name="itemPicture" /></td>
            </tr>
            <tr style="height: 36px">
                <td></td>
                <td></td>
            </tr>
        </table></div>
        <div class=" btn-box text-center">
            <button class="btn btn-default btn-primary" type="submit">Save</button>
            <a onclick="javascript:history.go(-1);">Back</a>
        </div>
        </form>
    </div>

</div>
</body>
</html>
