<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioning</title>
    <!--[if lt IE10]>
    <script src="../static/dist/html5shiv.js"></script>
    <script src="../static/dist/response.min.js"></script>
    <link rel="stylesheet" href="../static/css/ie-css.css">
    <![endif]-->
    <link rel="stylesheet" href="../static/dist/bootstrap.css">
    <link rel="stylesheet" href="../static/css/visitorRegister.css">
    <link rel="stylesheet" href="../static/css/personalMsg.css">
</head>
<body>
<div class="container-fluid" id="person-msg-box">
    <div class="panel-box">
        <div>
            <p class="form-title">Auctioning Information</p>
        </div>
        <div>
            <div> <table class="table table-responsive table-striped person-table">
            <tr>
                <th>Item</th>
                <th>Item Name</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    来源地:
                </td>
                <td>
                    Hong Kong Permanent Identity Card
                </td>
                <td rowspan="5" ><img src="../static/images/u635.jpg" alt=""></td>
            </tr>
            <tr>
                <td>上架日期:</td>
                <td>C66666</td>

            </tr>
            <tr>
                <td>开始时间:</td>
                <td>申智能</td>
            </tr> 
            <tr>
                <td>结束时间:</td>
                <td>SAN, Chi Nan</td>
            </tr>
            <tr>
                <td>起拍价:</td>
                <td>Female</td>
                <td></td>
            </tr>
            <tr>
                <td>每次加价不少于:</td>
                <td>1988-01-01</td>
                <td></td>
            </tr>
            <tr>
                <td>当前出价:</td>
                <td>1999-01</td>
                <td></td>
            </tr>
            <tr style="height: 36px">
                <td>出价：</td>
                <td><input type="number"/></td>
                <td></td>
            </tr>
        </table></div>
            <div class=" btn-box text-center">
                <button class="btn btn-default btn-primary">出价</button>
                <button class="btn  btn-default btn-danger" >加价</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="person-msg-box">
        <div class="panel-box">
            <div>
                <p class="form-title">Auctioning Information</p>
            </div>
            <div id="commentDiv" style="overflow: auto; overflow-x: hidden; height: 130px; width: 90%; word-wrap: break-word;">
                    <ul id="commentArea">
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                        <li>afdafas</li>
                    </ul>
                </div>
            <div class="text-center" style="top:30px">
                    <div class="form-group">
                        <label for="Chinesename" class="col-sm-1 control-label">Account:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Chinesename">
                            
                        </div>
                        <button class="btn btn-default btn-primary">Send</button>
                    </div>
            </div>
        </div>
    </div>

</body>
</html>
