<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Information</title>
    <!--[if lt IE10]>
    <script src="/dist/html5shiv.js"></script>
    <script src="/dist/response.min.js"></script>
    <link rel="stylesheet" href="/css/ie-css.css">
    <![endif]-->
    <link rel="stylesheet" href="/dist/bootstrap.css">
    <link rel="stylesheet" href="/css/visitorRegister.css">
    <link rel="stylesheet" href="/css/personalMsg.css">
</head>
<body>
<div class="container-fluid" id="person-msg-box">
    <div class="panel-box">
        <div>
            <p class="form-title">Item Information</p>
        </div>
        <div> <table class="table table-responsive table-striped person-table">
            <tr>
                <th>Item Name:</th>
                <th>aaa</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    来源地:
                </td>
                <td>
                    Hong Kong
                </td>
                <td rowspan="5" ><img src="/images/u96.jpg" alt=""></td>
            </tr>
            <tr>
                <td>上架日期:</td>
                <td>2019.3.8</td>

            </tr>
            <tr>
                <td>开始拍卖时间:</td>
                <td></td>
            </tr>
            <tr>
                <td>结束拍卖时间:</td>
                <td>SAN, Chi Nan</td>
            </tr>
            <tr>
                <td>起拍价:</td>
                <td>50</td>
                <td></td>
            </tr>
            <tr>
                <td>每次加价不少于:</td>
                <td>5</td>
                <td></td>
            </tr>
            <tr style="height: 36px">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table></div>
        <div class=" btn-box text-center">
                   <button class="btn btn-default btn-primary">订阅</button>
                   <button class="btn  btn-default btn-danger" >Retry</button>
                   <button class="btn btn-primary btn-default-pri">Back</button>
               </div>
    </div>

</div>
</body>
</html>
