<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Information</title>
    <!--[if lt IE10]>
    <script src="../static/dist/html5shiv.js"></script>
    <script src="../static/dist/response.min.js"></script>
    <link rel="stylesheet" href="../static/css/ie-css.css">
    <![endif]-->
    <link rel="stylesheet" href="../static/dist/bootstrap.css">
    <link rel="stylesheet" href="../static/css/visitorRegister.css">
    <link rel="stylesheet" href="../static/css/personalMsg.css">
</head>
<body>
<div class="container-fluid" id="person-msg-box">
    <div class="panel-box">
        <div>
            <p class="form-title">Item Information</p>
        </div>
        <div> <table class="table table-responsive table-striped person-table">
            <tr>
                <th>Item Name:</th>
                <th><input type="text" class="form-control" id="Chinesename"></th>
            </tr>
            <tr>
                <td>
                    来源地:
                </td>
                <td>
                    <input type="text" class="form-control" id="Chinesename">
                </td>
            </tr>
            <tr>
                <td>起拍价:</td>
                <td><input type="text" class="form-control" id="Chinesename"></td>
            </tr>
            <tr>
                <td>每次加价不少于:</td>
                <td><input type="text" class="form-control" id="Chinesename"></td>
            </tr>
            <tr>
                <td>上传图片:</td>
                <td><input type="file" id="uploadOffice"/></td>
            </tr>
            <tr style="height: 36px">
                <td></td>
                <td></td>
            </tr>
        </table></div>
        <div class=" btn-box text-center">
                   <button class="btn btn-default btn-primary">Update</button>
                   <button class="btn  btn-default btn-danger" >Reset</button>
                   <button class="btn btn-primary btn-default-pri">Back</button>
               </div>
    </div>

</div>
</body>
</html>
