<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online User List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/bootstrap.css">
    <script src="../static/dist/jquery.min.js"></script>
    <script src="../static/dist/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/visitorRegister.css">
    <link rel="stylesheet" href="../static/css/identityInfo.css">
    <script src="../static/js/visitorRegister.js"></script>
    <!--[if lt IE10]>
    <script src="../static/dist/html5shiv.js"></script>
    <script src="../static/dist/response.min.js"></script>
    <link rel="stylesheet" href="../static/css/ie-css.css">
    <![endif]-->

</head>
<body>
<div id="loading-box">
<div class="container" id="visitorRecord">
    <div>
        <p class="form-title">Online User List</p>
    </div>
    <div>
        <table class="table  table-hover table-responsive th-primary">
            <tr>
                <th>Account</th>
                <th>IP</th>
                <th>User ID</th>
                <th>operation</th>
            </tr>
            <tr>
                <td>V-0322</td>
                <td>V-Visitor</td>
                <td>Kate Lee</td>
                <td>1000500(1)</td>
            </tr>
        </table>
    </div>
    <div>
        <span style="float:right; right: 0%;" id="PageBox"><a id="prevButton">Prev</a> 1/1 <a id="nextButton">Next</a></span>
    </div>
</div>
</body>
</html>
