<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/bootstrap.css">
    <script src="../static/dist/jquery.min.js"></script>
    <script src="../static/dist/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/visitorRegister.css">
    <link rel="stylesheet" href="../static/css/identityInfo.css">
    <script src="../static/js/visitorRegister.js"></script>
    <!--[if lt IE10]>
    <script src="../static/dist/html5shiv.js"></script>
    <script src="../static/dist/response.min.js"></script>
    <link rel="stylesheet" href="../static/css/ie-css.css">
    <![endif]-->

</head>
<body>
<div class="container" id="visitorRecord">
    <div>
        <p class="form-title">Order List</p>
    </div>
    <div>
        <table class="table  table-hover table-responsive th-primary">
            <tr>
                <th>Order No</th>
                <th>Item Name</th>
                <th>Shop Name</th>
                <th>Order Create Time</th>
                <th>Price</th>
                <th>Address</th>
                <th>OrderStatus</th>
            </tr>
            <tr>
                <td>V-0322</td>
                <td>V-Visitor</td>
                <td>Kate Lee</td>
                <td>1000500(1)</td>
                <td>Macau ID CARD</td>
                <td>HongWei</td>
                <td>Meeting</td>
                <!-- <td>005623</td>
                <td>Man Toc</td>
                <td><a href="#">Detail</a></td> -->
            </tr>
            <tr>
                <td>V-0322</td>
                <td>V-Visitor</td>
                <td>Kate Lee</td>
                <td>1000500(1)</td>
                <td>Macau ID CARD</td>
                <td>HongWei</td>
                <td>Meeting</td>
                <!-- <td>005623</td>
                <td>Man Toc</td>
                <td><a href="#">Detail</a></td> -->
            </tr>
            <tr>
                <td>V-0322</td>
                <td>V-Visitor</td>
                <td>Kate Lee</td>
                <td>1000500(1)</td>
                <td>Macau ID CARD</td>
                <td>HongWei</td>
                <td>Meeting</td>
                <!-- <td>005623</td>
                <td>Man Toc</td>
                <td><a href="#">Detail</a></td> -->
            </tr>
            <tr>
                <td>V-0322</td>
                <td>V-Visitor</td>
                <td>Kate Lee</td>
                <td>1000500(1)</td>
                <td>Macau ID CARD</td>
                <td>HongWei</td>
                <td>Meeting</td>
                <!-- <td>005623</td>
                <td>Man Toc</td>
                <td><a href="#">Detail</a></td> -->
            </tr>
        </table>
    </div>
    <div>
        <span style="float:right; right: 0%;" id="PageBox"><a id="prevButton">Prev</a> 1/3 <a id="nextButton">Next</a></span>
    </div>
</div>
</body>
</html>
