<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/dist/bootstrap.css">
    <script src="/dist/jquery.min.js"></script>
    <script src="/dist/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/case3.css">
    <title>Update Address</title>
</head>
<body>
<form action="/auctionSystem/updateAddress" method="post" name="model">
<div class="container" id="Identity-Information">
    <div class="row" style="display: flex; align-items: center">
        <div class="col-md-11">
            <div>
                <p class="form-title">Address</p>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="address" class="col-sm-5 control-label">* Address:</label>
                            <div class="col-sm-7">
                                <input type="text" name="userAddressId" style="display: none" th:value="${address.userAddressId}"/>
                                <input type="text" class="form-control" id="address" th:value="${address.userAddress}" name="userAddress"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 text-center">
        <div class="btn-group btn-box">
            <button class="btn btn-default" type="submit">Save</button>
            <a onclick="javascript:history.go(-1);">Back</a>
        </div>
    </div>
</div>
</form>

</body>
</html>
