<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/dist/bootstrap.css">
    <script src="../static/dist/jquery.min.js"></script>
    <script src="../static/dist/bootstrap.js"></script>
    <!--[if lt IE10]>
    <script src="../static/dist/html5shiv.js"></script>
    <script src="../static/dist/response.min.js"></script>
    <link rel="stylesheet" href="../static/css/ie-css.css">
    <![endif]-->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/case1.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>UserInfo</title>
</head>
<body>
<section id="body-box">
    <div class="container-fluid">
        <div id="page1" style="max-width: 100%;overflow-x: hidden">
            <div class="container" id="Escort-Employee">
                <div>
                    <p class="form-title">Information</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label for="Sex" class="col-sm-5 control-label">UserName:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="Sex">
                                            <option>F</option>
                                            <option>M</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Sex" class="col-sm-5 control-label">Sex:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="Sex">
                                            <option>F</option>
                                            <option>M</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label for="CredentialType" class="col-sm-5 control-label">Credential Type</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="CredentialType">
                                            <option>F</option>
                                            <option>M</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Department" class="col-sm-5 control-label">Birth:</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control" id="Department">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label for="Department" class="col-sm-5 control-label">CredentialType Num:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="Department">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="col-md-12 text-center">
                    <div class="btn-group btn-box">
                        <button id="case1-chein-btn">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




</body>
</html>
